<p><strong>Section 24.&nbsp; Reapportionment.&nbsp;</strong> Congressional districts must be
reapportioned as follows.</p>

<p><strong>1. &nbsp;Procedure.</strong>&nbsp; Beginning in 2021 and every 10 years thereafter,
when the Secretary of State has received notification of the number of
congressional seats to which the State is entitled and the Federal Decennial
Census population count is final, the Legislative Apportionment Commission,
established every 10 years pursuant to Article IV, Part Third, Section 1&#8209;A,
shall review the existing congressional districts. &nbsp;If the districts do not
conform to Supreme Judicial Court guidelines, the commission shall reapportion
the State into congressional districts.</p>

<p>&nbsp; In making such a
reapportionment, the commission shall ensure that each congressional district
is formed of compact and contiguous territory and crosses political
subdivisions the least number of times necessary to establish districts as
equally populated as possible.&nbsp; The commission shall submit its plan to
the Clerk of the House of Representatives no later than June 1st of the year in
which apportionment is required.&nbsp; The Legislature shall enact the
submitted plan of the commission or a plan of its own in regular or special
session by a vote of 2/3 of the members of each House by June 11th of the year
in which apportionment is required to the Clerk of the House of
Representatives.&nbsp; This action is subject to the Governor's approval, as
provided in Article IV, Part Third, Section 2.</p>

<p><strong>2. &nbsp;Court apportionment.</strong>&nbsp; If the Legislature fails to make an
apportionment by June 11th, the Supreme Judicial Court shall make the
apportionment within 60 days following the period in which the Legislature is
required to act but fails to do so. In making the apportionment, the Supreme
Judicial Court shall take into consideration plans and briefs filed by the
public with the court during the first 30 days of the period in which the court
is required to apportion.</p>

<p><strong>3. &nbsp;Judicial review.</strong>&nbsp; The Supreme Judicial Court has original jurisdiction
to hear any challenge to an apportionment law enacted by the Legislature, as
registered by any citizen or group of citizens. If a challenge is sustained,
the Supreme Judicial Court shall make the apportionment.</p>
