body > a {
    margin: 10px;
}

#list {
    display: flex;
    justify-content: center;
}

#accordion {
    width: 60%;
}

.card-header > h5{
    display: flex;
    justify-content: space-between;
} 

.weight-header {
    display: flex;
    justify-content: space-between;
}

.map-header {
    display: flex;
    justify-content: space-between;
}

