body {margin: 0; overflow: hidden; padding: 0}
html, body, #map {height: 100%; width: 100vw}
#map {
	/*background: repeating-linear-gradient(-45deg, #ddd, #ddd 8px, black 8px, black 72px);*/
	/*background: black;*/
	z-index: 0
}

.btn {
	margin: 1px 1px
}
.icon {
	fill: white;
	height: 12px; width: 12px
}
.table th, .table td {
	padding: initial
}
.PrecinctTooltip{
	background: #222;
	border: #222;
}
#account-float {
	text-align: right;
	z-index: 1
}
#account-float > *, #side-float > * {
	box-shadow: 2px 2px 8px gray
}
#right-float {
	position: absolute; right: 8px; top: 8px;
}
#side-float {
	display: inline-flex;
	position: absolute; left: 8px; top: 8px;
	transition: transform 50ms;
	z-index: 2
}
#side {
	background-color: inherit;
	border-right: 2px solid gray;
	height: 100%;
	overflow: hidden scroll;
	padding: 4px;
	position: absolute; left: 0; top: 0;
	transition: transform 50ms;
	width: 320px;
	z-index: 2
}
#selected-precincts {
	max-height: 100vh;
	overflow-y: auto;
	z-index: 1
}
#tab-nav {
	background-color: #282828
}
#tab-nav .nav-link {
	padding: 0.5rem 0.25rem
}
#weights label, #majority-minority-constraints label {
	margin-bottom: 0
}
#weights input[type="range"], #majority-minority-constraints input[type="range"] {
	vertical-align: middle;
	width: calc(100% - (5em + 0.25em))
}
#weights input[type="number"], #majority-minority-constraints input[type="number"] {
	display: initial;
	height: 1.5em;
	padding: 2px;
	width: 5em
}
/* #weights div {
	margin-bottom: 0.5em
} */
#weights-tab > *:last-child {
	margin-bottom: 100%;
}
