<P>      (14)  The independent redistricting commission shall establish
congressional and legislative districts. The commencement of the mapping
process for both the congressional and legislative districts shall be the
creation of districts of equal population in a grid-like pattern across
the state. Adjustments to the grid shall then be made as necessary to
accommodate the goals as set forth below:</P>
<P>      A.  Districts shall comply with the United States Constitution and
the United States voting rights act;</P>
<P>      B.  Congressional districts shall have equal population to the
extent practicable, and state legislative districts shall have equal
population to the extent practicable;</P>
<P>      C.  Districts shall be geographically compact and contiguous to the
extent practicable;</P>
<P>      D.  District boundaries shall respect communities of interest to the
extent practicable;</P>
<P>      E.  To the extent practicable, district lines shall use visible
geographic features, city, town and county boundaries, and undivided
census tracts;</P>
<P>      F.  To the extent practicable, competitive districts should be
favored where to do so would create no significant detriment to the other
goals.</P>
